<h1>Categorias</h1>

<%= render :partial => 'form' %>

<table class="table">
    <tr>
        <th>Nome</th>
        <th>Editar</th>
        <th>Excluir</th>
    </tr>
    <% @categories.each do |c| %>
    <tr>
        <td>
            <%= c.name %>
        </td>
        <td>
            <%= link_to 'Editar', edit_admin_category_path(c.id) %>
        </td>
        <td>
            <%= link_to 'Excluir', admin_category_path(c.id), :method => :delete, :confirm => 'Tem certeza?' %>
        </td>
    </tr>    
    <% end %>
</table>
